body {
    padding: 20px;
    background-image: url(img/back.jpg);
    line-height: 0px;
    font-family: 'Ubuntu', sans-serif;
}
#gridContainer {
    margin: 30px 0; 
    text-align: center;
}

.cell {
    border: 0.2vmin solid rgba(180, 218, 250, 0.27);
    width: 2vmin;
    height: 2vmin;
    display: inline-block;
}

input {
    display: inline-block;
}

.alive {
    background-color: white;
}

.hidden {
    display: none;
}

.firstRow-first {
    border-radius: 10px 0 0 0;
}

.firstRow-last {
    border-radius: 0 10px 0 0;
}

.lastRow-first {
    border-radius:  0 0 0 10px;
}

.lastRow-last {
    border-radius: 0 0 10px 0;
}

.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    width: 45vmin;
    margin: 0 auto;
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5vmin;
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
    background-color: #d3d3d3;
    border: none;
    border-radius: 0.3vmin;    
    padding: 1vmin 1.5vmin;
    margin: 1vmin 0.4vmin;    
}

#start {
    background-color: #279027;
    color: #ddd;    
}

#pause {
    background-color: #ba2525;
    color: #ddd;
}

#grid-control {
    width: 45vmin;
    margin: 0 auto;
    text-align: center;
}

#grid-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
   
            -webkit-box-pack: start;
   
                -ms-flex-pack: start;
   
                    justify-content: flex-start;
}

label {
    color: #ddd; 
    font-size: 1.7vmin;
    margin-right: 1vmin;
}

input {
    padding: 0.8vmin 1.5vmin;
    margin: 1vmin 0.4vmin; 
    width: 3vmin;
    border-radius: 0.3vmin;
    border: none;
    background-color: #ddd;    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

#grid-control div:first-child {
    margin-right: 3vmin;
}
