body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
    background-image: url(img/back.jpg);
    font-family: 'Ubuntu', sans-serif;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#operacional {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;  
    -ms-flex-line-pack: start;  
        align-content: flex-start;
    width: 300px;
    height: 100vh;
    margin: 20px;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
   
}

main {
    margin: 0 20px;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
   
}
#gridContainer {
    line-height: 0px;
}

h1 {
    text-align: center;
    color: #ddd;    
    margin: 10px auto 30px auto;
    font-size: 5vmin;
    font-family: 'Changa One', cursive;
    font-weight: 100;
    letter-spacing: 0.3vmin;
}

hr {
    width: 230px;
    margin: 0 auto;
    height: 2px;
    background-color: #ddd;
    
}

h2 {
    text-align: center;
    color: #ddd;
    margin: 40px auto 10px auto;
    font-size: 3vmin;
    font-weight: 100;
    letter-spacing: 0.15vmin;
    font-family: 'Changa One', cursive;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: #ddd;
    margin: 10px auto 30px auto;
    font-size: 3vmin;
    font-weight: 100;
    letter-spacing: 0.15vmin;
    font-family: 'Changa One', cursive;
}

h3 span {
    display: inline-block;
    width: 100%;
}

p {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0;
    font-size: 0.9em;
    line-height: 1.3em;
}

a {
    color: #aaa;
}

#gridContainer {
    margin: 30px 0; 
    text-align: center;
}

.cell {
    border: 0.2vmin solid rgba(180, 218, 250, 0.15);
    width: 2vmin;
    height: 2vmin;
    display: inline-block;
}

input {
    display: inline-block;
}

.alive {
    background-color: #fff !important;
}

.firstRow-first {
    border-radius: 10px 0 0 0;
}

.firstRow-last {
    border-radius: 0 10px 0 0;
}

.lastRow-first {
    border-radius:  0 0 0 10px;
}

.lastRow-last {
    border-radius: 0 0 10px 0;
}

.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    width: 45vmin;
    margin: 0 auto;
}

button {
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1vmin;
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
    background-color: #d3d3d3;
    border: none;
    border-radius: 3px;    
    padding: 1vmin 1.5vmin;
    margin: 1vmin 0.4vmin;    
}

.fa {
    font-size: 2vmin;
    width: 20px;
    margin-bottom: 5px;
}

.controls .fa {
    width: 50%;
}

.controls button:last-of-type .fa {
    width:25%;
}

#start {
    background-color: #279027;
    color: #ddd;    
}

#pause {
    background-color: #ba2525;
    color: #ddd;
}
ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: distribute;
        align-content: space-around;    
    bottom: 50px;
    right: 50px;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    width: 250px;
    height: 200px;
    border: solid #ddd 2px;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2em;
    font-family: 'Changa One', cursive;
    font-weight: 100;
    letter-spacing: 0.3vmin;
    color: #ddd;
    -webkit-transition: all 0.3s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

li {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
li:hover {
    -webkit-transform: scale(1.05, 1.05) translateX(5px);    
            transform: scale(1.05, 1.05) translateX(5px);
}

nav > div {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: flex-start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute;
    top: 278px;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    width: 250px;
    height: 380px;
    border: solid #ddd 2px;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2em;
    font-family: 'Changa One', cursive;
    font-weight: 100;
    letter-spacing: 0.3vmin;
    color: #ddd;  
    -webkit-transition: all 0.5s;  
    transition: all 0.5s;
    overflow: auto;
}

nav div::-webkit-scrollbar {
    width: 0.25em;
}
 
nav div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
    
}
 
nav div::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
}

nav div .fa {
    position: absolute;
    display: inline;
    top: 10px;
    right: 10px;
    width: 20px;
    cursor: pointer;
}

form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
    z-index: 1;
}

label {
    color: #ddd; 
    font-size: 1.8vmin;
    margin-right: 1vmin;
}

input {
    padding: 0.6vmin 1.2vmin;
    margin: 1vmin 0.4vmin; 
    width: 3vmin;
    border-radius: 0.3vmin;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ddd;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    display: none;
    margin: 0; 
}

#grid-control {
    width: 45vmin;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#grid-control div:first-child {
    margin-right: 3vmin;
}

#presets-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    -webkit-transition: all 0.5s;
    transition: all 0.5s
    
}

#presets-div-header {
    width: 100%;
    margin-bottom: 20px;
}

#presets-div h3 {
    text-align: left;
    margin: 5px 0;
}

#presets-div i {
    color: #ddd;
    font-size: 1em;
    margin-right: -5px !important;
    padding-top: 5px;
}

#presets-div p {
    display: inline-block;
    font-family: 'Changa One', cursive;
    font-weight: 100;
    color: #ddd;
    font-size: 1em;
}

#presets-div-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 120px;
}

#presets-div img {
    width: 50px;
    border-radius: 10px;
    margin: 5px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.preset-selected, #presets-div img:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
}

.preset-selected {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    border: 3px solid #71a3b5;
}

#cancel-preset-insertion {
    color: #ddd; 
    font-size: 1.8vmin;
    margin-top: 20px;
    padding: 10px 5px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.hidden {
    display: none;
}

.fade {
    opacity: 0;
    z-index: -2
}

.blink {
    opacity: 0.2;
}

.inboard {
    background-color: rgba(50, 193, 89, 0.45);
}

.outboard {
     background-color: rgba(193, 50, 50, 0.45);
}

