/* line 7, D:/OneDrive/web/GOL/style/life.scss */
body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-image: url(../img/back.jpg);
  font-family: 'Ubuntu', sans-serif;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*omitted to get the new presets coordinates on screen    
/*-webkit-touch-callout: none; 
/* iOS Safari */
  /*-webkit-user-select: none; 
/* Chrome/Safari/Opera */
  /* Konqueror */
  /*-moz-user-select: none; 
/* Firefox */
  /*-ms-user-select: none; 
/* Internet Explorer/Edge */
  /*user-select: none; 
/* Non-prefixed version, currently not supported by any browser */ }

/* line 39, D:/OneDrive/web/GOL/style/life.scss */
#operacional {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 400px;
  min-height: 100vh;
  height: 950px;
  top: 0;
  left: 0;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  -webkit-box-shadow: 10px 0px 15px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 0px 15px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 0px 25px 0 rgba(0, 0, 0, 0.75);
  background-image: url(../img/back.jpg);
  z-index: 2; }

/* line 67, D:/OneDrive/web/GOL/style/life.scss */
#hamb-menu-tablet {
  display: none;
  cursor: none; }

/* line 72, D:/OneDrive/web/GOL/style/life.scss */
#control-panel {
  opacity: 0;
  writing-mode: vertical-rl;
  position: absolute;
  height: 100vh;
  width: 80px;
  text-align: center;
  font-family: 'Changa One', cursive;
  font-weight: 100;
  color: #ddd;
  font-size: 1.7em;
  letter-spacing: 0.1em;
  transition: all 0.3s;
  top: 0;
  right: 5px;
  cursor: pointer;
  z-index: 2; }

/* line 91, D:/OneDrive/web/GOL/style/life.scss */
#control-panel.left {
  opacity: 1;
  z-index: 2;
  cursor: pointer; }

/* line 97, D:/OneDrive/web/GOL/style/life.scss */
#title {
  width: 100%;
  height: 210px;
  -webkit-box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.55);
  z-index: 2;
  transition: all 0.5s;
  background-image: url(../img/back.jpg); }

/* line 108, D:/OneDrive/web/GOL/style/life.scss */
#life {
  opacity: 1;
  position: absolute;
  font-size: 2em;
  margin-top: 20px;
  transition: all 1s; }

/* line 116, D:/OneDrive/web/GOL/style/life.scss */
main {
  position: relative;
  left: 170px;
  top: 0 margin 0 10px;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  padding-top: 50px;
  width: 1300px; }

/* line 128, D:/OneDrive/web/GOL/style/life.scss */
#gridContainer {
  line-height: 0px;
  margin: 30px auto;
  text-align: center;
  width: 1300px; }

/* line 135, D:/OneDrive/web/GOL/style/life.scss */
#life {
  width: 230px;
  margin: 10px auto;
  position: relative; }

/* line 141, D:/OneDrive/web/GOL/style/life.scss */
#life div {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  position: absolute;
  border: 1px solid #aaa;
  border-radius: 2px; }

/* line 150, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(2) {
  top: 20px; }

/* line 154, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(3) {
  top: 40px; }

/* line 158, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(4) {
  top: 60px; }

/* line 163, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(5) {
  top: 60px;
  left: 20px; }

/* line 168, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(6) {
  top: 60px;
  left: 40px; }

/* line 173, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(7) {
  left: 70px; }

/* line 177, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(8) {
  top: 20px;
  left: 70px; }

/* line 182, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(9) {
  top: 40px;
  left: 70px; }

/* line 187, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(10) {
  top: 60px;
  left: 70px; }

/* line 192, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(11) {
  left: 100px; }

/* line 196, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(12) {
  left: 100px;
  top: 20px; }

/* line 201, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(13) {
  left: 100px;
  top: 40px; }

/* line 206, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(14) {
  left: 100px;
  top: 60px; }

/* line 211, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(15) {
  left: 120px; }

/* line 215, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(16) {
  left: 140px; }

/* line 219, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(17) {
  top: 30px;
  left: 120px; }

/* line 224, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(18) {
  left: 170px; }

/* line 228, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(19) {
  top: 20px;
  left: 170px; }

/* line 233, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(20) {
  top: 40px;
  left: 170px; }

/* line 238, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(21) {
  top: 60px;
  left: 170px; }

/* line 243, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(22) {
  top: 60px;
  left: 190px; }

/* line 248, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(23) {
  left: 190px; }

/* line 252, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(24) {
  top: 30px;
  left: 190px; }

/* line 257, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(25) {
  top: 60px;
  left: 210px; }

/* line 262, D:/OneDrive/web/GOL/style/life.scss */
#life div:nth-of-type(26) {
  top: 0;
  left: 210px; }

/* line 267, D:/OneDrive/web/GOL/style/life.scss */
.divider {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

/* line 276, D:/OneDrive/web/GOL/style/life.scss */
.divider hr {
  width: 100px;
  height: 2px;
  background-color: #ddd; }

/* line 283, D:/OneDrive/web/GOL/style/life.scss */
h2 {
  text-align: center;
  color: #ddd;
  margin: 30px auto 0 auto;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-family: 'Changa One', cursive;
  text-transform: uppercase; }

/* line 294, D:/OneDrive/web/GOL/style/life.scss */
h3 {
  text-align: center;
  color: #ddd;
  margin: 10px auto 10px auto;
  font-size: 1.3em;
  font-weight: 100;
  letter-spacing: 0.1em;
  font-family: 'Changa One', cursive; }

/* line 304, D:/OneDrive/web/GOL/style/life.scss */
h3 span {
  display: inline-block;
  width: 100%; }

/* line 309, D:/OneDrive/web/GOL/style/life.scss */
p {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0;
  font-size: 0.9em;
  line-height: 1.4em; }

/* line 316, D:/OneDrive/web/GOL/style/life.scss */
a {
  color: #aaa; }

/* line 324, D:/OneDrive/web/GOL/style/life.scss */
.cell {
  border: 0.01vmin solid rgba(180, 218, 250, 0.15);
  display: inline-block;
  width: 1em;
  height: 1em; }

/* line 331, D:/OneDrive/web/GOL/style/life.scss */
input {
  display: inline-block; }

/* line 335, D:/OneDrive/web/GOL/style/life.scss */
.alive {
  background-color: #fff !important; }

/* line 339, D:/OneDrive/web/GOL/style/life.scss */
.firstRow-first {
  border-radius: 10px 0 0 0; }

/* line 343, D:/OneDrive/web/GOL/style/life.scss */
.firstRow-last {
  border-radius: 0 10px 0 0; }

/* line 347, D:/OneDrive/web/GOL/style/life.scss */
.lastRow-first {
  border-radius: 0 0 0 10px; }

/* line 351, D:/OneDrive/web/GOL/style/life.scss */
.lastRow-last {
  border-radius: 0 0 10px 0; }

/* line 355, D:/OneDrive/web/GOL/style/life.scss */
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  width: 400px;
  margin: 0 auto; }

/* line 371, D:/OneDrive/web/GOL/style/life.scss */
button {
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.6em;
  font-weight: 700;
  color: #444;
  text-transform: uppercase;
  background-color: #d3d3d3;
  border: none;
  border-radius: 3px;
  padding: 0.8em 1em;
  margin: 20px 0;
  width: 75px;
  transition: all 0.2s; }

/* line 387, D:/OneDrive/web/GOL/style/life.scss */
button:hover {
  transform: scale(1.1, 1.1); }

/* line 391, D:/OneDrive/web/GOL/style/life.scss */
button:active {
  transform: scale(1.2, 1.2); }

/* line 395, D:/OneDrive/web/GOL/style/life.scss */
.fa {
  font-size: 2.1em;
  width: 20px;
  margin-bottom: 5px; }

/* line 401, D:/OneDrive/web/GOL/style/life.scss */
.controls .fa {
  width: 70%; }

/* line 405, D:/OneDrive/web/GOL/style/life.scss */
.controls img {
  padding: 5px; }

/* line 409, D:/OneDrive/web/GOL/style/life.scss */
#start {
  background-color: #279027;
  color: #ddd; }

/* line 414, D:/OneDrive/web/GOL/style/life.scss */
#pause {
  background-color: #ba2525;
  color: #ddd; }

/* line 419, D:/OneDrive/web/GOL/style/life.scss */
#preset {
  display: none; }

/* line 423, D:/OneDrive/web/GOL/style/life.scss */
#preset.active {
  display: block; }

/* line 427, D:/OneDrive/web/GOL/style/life.scss */
nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: flex-start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  top: 0px;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  height: 420px;
  padding: 0px 15px;
  font-size: 1.2em;
  font-family: 'Changa One', cursive;
  font-weight: 100;
  letter-spacing: 0.3vmin;
  color: #ddd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 1; }

/* line 456, D:/OneDrive/web/GOL/style/life.scss */
#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0px;
  align-content: space-between;
  justify-content: space-around;
  flex-flow: column wrap;
  width: 80%;
  height: 200px;
  padding: 20px;
  font-size: 1.2em;
  font-family: 'Changa One', cursive;
  font-weight: 100;
  letter-spacing: 0.15em;
  color: #ddd;
  -webkit-transition: all 0.3s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1; }

/* line 481, D:/OneDrive/web/GOL/style/life.scss */
li {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer; }

/* line 488, D:/OneDrive/web/GOL/style/life.scss */
li:hover {
  -webkit-transform: scale(1.05, 1.05) translateX(20px);
  transform: scale(1.05, 1.05) translateX(20px); }

/* line 494, D:/OneDrive/web/GOL/style/life.scss */
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.4em; }

/* line 499, D:/OneDrive/web/GOL/style/life.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 transparent; }

/* line 504, D:/OneDrive/web/GOL/style/life.scss */
::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 0px;
  width: 0.5em; }

/* line 510, D:/OneDrive/web/GOL/style/life.scss */
nav div .fa {
  position: absolute;
  display: inline;
  top: 10px;
  right: 10px;
  font-size: 1.3em;
  cursor: pointer; }

/* line 519, D:/OneDrive/web/GOL/style/life.scss */
#options {
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  top: -420px;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  transition: all 0.8s;
  background-image: url(../img/back.jpg);
  z-index: 1; }

/* line 534, D:/OneDrive/web/GOL/style/life.scss */
#options.options-down {
  top: 15px; }

/* line 538, D:/OneDrive/web/GOL/style/life.scss */
form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
  z-index: 1;
  margin: 0 20%; }

/* line 554, D:/OneDrive/web/GOL/style/life.scss */
label {
  color: #ddd;
  font-size: 1em; }

/* line 559, D:/OneDrive/web/GOL/style/life.scss */
input {
  padding: 0.6em 0.3em;
  margin: 0.4em 0.3em;
  width: 50px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ddd;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em; }

/* line 571, D:/OneDrive/web/GOL/style/life.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
  margin: 0; }

/* line 578, D:/OneDrive/web/GOL/style/life.scss */
#cicle-counter {
  width: 50px;
  background-color: black; }

/* line 583, D:/OneDrive/web/GOL/style/life.scss */
#about-game {
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  top: -450px;
  width: 100%;
  height: 415px;
  padding: 30px;
  overflow: hidden;
  transition: all 1s;
  background-image: url(../img/back.jpg);
  z-index: 1; }

/* line 599, D:/OneDrive/web/GOL/style/life.scss */
#about-game-text {
  height: 240px;
  width: 100%;
  overflow: auto;
  padding: 0 15px; }

/* line 606, D:/OneDrive/web/GOL/style/life.scss */
#about-game.about-game-down {
  top: 15px; }

/* line 610, D:/OneDrive/web/GOL/style/life.scss */
#about-author {
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  top: -200px;
  width: 100%;
  padding: 30px;
  overflow: auto;
  transition: all 1s;
  background-image: url(../img/back.jpg);
  z-index: 1; }

/* line 625, D:/OneDrive/web/GOL/style/life.scss */
#about-author.about-author-down {
  top: 15px; }

/* line 629, D:/OneDrive/web/GOL/style/life.scss */
#presets-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: absolute;
  top: 600px;
  left: 3%;
  right: 10%;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1; }

/* line 647, D:/OneDrive/web/GOL/style/life.scss */
#presets-div-header {
  width: 100%; }

/* line 652, D:/OneDrive/web/GOL/style/life.scss */
#presets-div h3 {
  text-align: left;
  margin: 5px 0; }

/* line 657, D:/OneDrive/web/GOL/style/life.scss */
#presets-div-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

/* line 670, D:/OneDrive/web/GOL/style/life.scss */
#presets-div-new i {
  color: #ddd;
  font-size: 1em;
  margin-right: -5px !important;
  padding-top: 5px; }

/* line 677, D:/OneDrive/web/GOL/style/life.scss */
#presets-div p {
  display: inline-block;
  font-family: 'Changa One', cursive;
  font-weight: 100;
  color: #ddd;
  font-size: 1em; }

/* line 685, D:/OneDrive/web/GOL/style/life.scss */
#presets-div-new:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

/* line 690, D:/OneDrive/web/GOL/style/life.scss */
#preset-name {
  -webkit-transition: all 0.5s;
  transition: all 0.5;
  overflow: hidden;
  height: 50px; }

/* line 697, D:/OneDrive/web/GOL/style/life.scss */
#input-preset-name {
  width: 120px; }

/* line 701, D:/OneDrive/web/GOL/style/life.scss */
#preset-name > p {
  padding: 5px 5px;
  margin-left: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  cursor: pointer; }

/* line 709, D:/OneDrive/web/GOL/style/life.scss */
#presets-div-items {
  display: -web it-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin-top: 30px;
  height: 130px;
  width: 100%;
  overflow: auto; }

/* line 726, D:/OneDrive/web/GOL/style/life.scss */
.preset-item {
  width: 60px;
  height: 55px;
  border-radius: 4px;
  color: #ddd;
  margin: 5px 5px;
  text-transform: uppercase;
  font-size: 0.55em;
  text-align: center;
  padding: 8px 0px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border: 2px solid #ddd;
  background: -webkit-linear-gradient(top, #ddd 0%, #ddd 60%, #0b39d0 60%, #0b39d0 100%);
  background: linear-gradient(to bottom, #ddd 0%, #ddd 60%, #0b39d0 60%, #0b39d0 100%);
  position: relative; }

/* line 747, D:/OneDrive/web/GOL/style/life.scss */
#preset-icon {
  width: 2.5em; }

/* line 751, D:/OneDrive/web/GOL/style/life.scss */
#presets-div-items p {
  width: 100%;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif; }

/* line 759, D:/OneDrive/web/GOL/style/life.scss */
.preset-item .fa {
  width: 15%;
  margin-bottom: 10px;
  color: #444; }

/* line 765, D:/OneDrive/web/GOL/style/life.scss */
.preset-item .fa-trash {
  font-size: 1.5em;
  position: absolute;
  top: 2px;
  right: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

/* line 774, D:/OneDrive/web/GOL/style/life.scss */
.preset-item:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1); }

/* line 779, D:/OneDrive/web/GOL/style/life.scss */
.preset-selected {
  border: 3px solid #0b39d0; }

/* line 783, D:/OneDrive/web/GOL/style/life.scss */
.hidden {
  display: none; }

/* line 787, D:/OneDrive/web/GOL/style/life.scss */
.fade {
  opacity: 0;
  z-index: -2; }

/* line 792, D:/OneDrive/web/GOL/style/life.scss */
.zero-height {
  height: 0 !important; }

/* line 795, D:/OneDrive/web/GOL/style/life.scss */
.blink {
  opacity: 0.2; }

/* line 799, D:/OneDrive/web/GOL/style/life.scss */
.inboard {
  background-color: rgba(50, 193, 89, 0.45); }

/* line 803, D:/OneDrive/web/GOL/style/life.scss */
.outboard {
  background-color: rgba(193, 50, 50, 0.45); }

/*# sourceMappingURL=life.css.map */