@media screen and (max-width: 450px) {
  h1 {
    font-size: 3em;
    font-family: 'Changa One', cursive;
    width: 100%; }

  hr {
    width: 50%;
    margin: 0 auto;
    height: 2px;
    background-color: #ddd; }

  h2 {
    font-size: 1.5em;
    margin: 20px 0 10px 0;
    font-family: 'Changa One', cursive; }

  .controls {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%; }

  button {
    font-size: 0.6em;
    font-weight: 700;
    padding: 5px;
    margin: 5px 0; }

  #grid-control {
    width: 400px;
    margin-top: 10px; }

  label {
    font-size: 1em;
    margin-right: 1vmin; }

  #title {
    position: absolute;
    top: 0px;
    height: 190px;
    background-image: url(../img/back.jpg);
    z-index: 4; }

  #title.left {
    top: -190px;
    box-shadow: 0px 0px 0px 0px transparent; }

  #mobile-title {
    display: block;
    position: absolute;
    transition: all 1s;
    height: 80px;
    width: 100%;
    left: 0px;
    top: -80px;
    padding-top: 10px;
    background-image: url(../img/back.jpg);
    z-index: 3; }

  #mobile-title.left {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.55);
    top: 0px; }

  #mobile-title div {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    position: absolute;
    border: 1px solid #aaa;
    border-radius: 2px;
    left: 20px;
    top: 20px; }

  #mobile-title div:nth-of-type(2) {
    top: 30px;
    left: 20px; }

  #mobile-title div:nth-of-type(3) {
    top: 40px;
    left: 20px; }

  #mobile-title div:nth-of-type(4) {
    top: 50px;
    left: 20px; }

  #mobile-title div:nth-of-type(5) {
    top: 50px;
    left: 30px; }

  #mobile-title div:nth-of-type(6) {
    top: 50px;
    left: 40px; }

  #mobile-title div:nth-of-type(7) {
    left: 55px; }

  #mobile-title div:nth-of-type(8) {
    top: 30px;
    left: 55px; }

  #mobile-title div:nth-of-type(9) {
    top: 40px;
    left: 55px; }

  #mobile-title div:nth-of-type(10) {
    top: 50px;
    left: 55px; }

  #mobile-title div:nth-of-type(11) {
    left: 70px; }

  #mobile-title div:nth-of-type(12) {
    left: 70px;
    top: 30px; }

  #mobile-title div:nth-of-type(13) {
    left: 70px;
    top: 40px; }

  #mobile-title div:nth-of-type(14) {
    left: 70px;
    top: 50px; }

  #mobile-title div:nth-of-type(15) {
    left: 80px; }

  #mobile-title div:nth-of-type(16) {
    left: 90px; }

  #mobile-title div:nth-of-type(17) {
    top: 35px;
    left: 80px; }

  #mobile-title div:nth-of-type(18) {
    left: 105px; }

  #mobile-title div:nth-of-type(19) {
    top: 30px;
    left: 105px; }

  #mobile-title div:nth-of-type(20) {
    top: 40px;
    left: 105px; }

  #mobile-title div:nth-of-type(21) {
    top: 50px;
    left: 105px; }

  #mobile-title div:nth-of-type(22) {
    top: 50px;
    left: 115px; }

  #mobile-title div:nth-of-type(23) {
    left: 115px; }

  #mobile-title div:nth-of-type(24) {
    top: 35px;
    left: 115px; }

  #mobile-title div:nth-of-type(25) {
    top: 50px;
    left: 125px; }

  #mobile-title div:nth-of-type(26) {
    top: 20px;
    left: 125px; }

  #operacional {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width: 100%;
    height: 100vh;
    min-height: auto;
    padding-bottom: 80px;
    top: 0;
    left: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    box-shadow: 5px 0px 25px 0 rgba(0, 0, 0, 0.75);
    -webkit-transition: all 1s;
    transition: all 1s;
    overflow: auto;
    z-index: 2; }

  #operacional.left {
    opacity: 1;
    top: -100vh;
    overflow: hidden; }

  #control-panel {
    display: none; }

  #hamb-menu-mobile {
    display: inline;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ddd;
    font-size: 1.5em;
    z-index: 5;
    cursor: pointer; }

  nav {
    position: relative;
    top: 190px;
    z-index: 0; }

  nav.left {
    opacity: 0; }

  #options.left {
    opacity: 1;
    box-shadow: 0px 0px 0px 0px transparent; }

  #about-game {
    top: -400px;
    height: 400px;
    z-index: 1; }

  #about-game-text {
    height: 230px;
    width: 100%;
    overflow: auto;
    padding: 0 15px; }

  #about-game.about-game-down {
    top: 0px; }

  #presets-div {
    position: absolute;
    top: 380px;
    z-index: 1; }

  #presets-div.zero-index {
    z-index: -1; }

  #presets-div .divider {
    margin-bottom: 40px; }

  main {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 25px;
    margin: 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding-top: 50px;
    width: 100%;
    overflow: hidden;
    z-index: 1; }

  #gridContainer {
    line-height: 0px;
    margin: 30px auto 10px;
    text-align: center;
    width: 100%; }

  /*.cell {
      width: 3vmin;
      height: 3vmin;
  }*/ }
@media screen and (min-width: 451px) and (max-width: 1920px) {
  #operacional {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width: 400px;
    min-height: 100vh;
    height: 100%;
    top: 0;
    left: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    box-shadow: 5px 0px 25px 0 rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }

  #operacional.left {
    position: absolute;
    left: -355px; }

  #operacional.left:hover {
    transform: translate(5px, 0); }

  #hamb-menu-tablet {
    display: inline;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ddd;
    font-size: 1.5em; }

  #hamb-menu-mobile {
    display: none; }

  #main-navigation {
    top: 200px;
    height: 650px;
    background-image: url(img/back.jpg);
    z-index: 1;
    overflow: none; }

  #title {
    width: 400px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    pointer-events: none; }

  #control-panel {
    z-index: -1; }

  #title.left {
    left: -355px;
    opacity: 0;
    box-shadow: 0px 0px 0px 0px transparent; }

  #options.left {
    opacity: 0;
    box-shadow: 0px 0px 0px 0px transparent; }

  #about-game {
    top: -420px;
    height: 400px;
    z-index: 1; }

  #about-game-text {
    height: 230px;
    width: 100%;
    overflow: auto;
    padding: 0 15px; }

  #presets-div {
    position: absolute;
    top: 380px;
    z-index: 1; }

  #presets-div.zero-index {
    z-index: -1; }

  #presets-div .divider {
    margin-bottom: 40px; }

  main {
    position: absolute;
    left: 50px;
    right: 30px;
    top: 0px;
    margin: 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding-top: 50px;
    width: auto; }

  #gridContainer {
    line-height: 0px;
    margin: 30px auto 10px;
    text-align: center;
    width: 100%; }

  .cell {
    width: 2vmin;
    height: 2vmin; } }
/*
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    #operacional {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;  
        -ms-flex-line-pack: start;  
        align-content: flex-start;
        width: 400px;
        min-height: 100vh;
        height: 100%;
        top: 0;
        left: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        box-shadow: 5px 0px 25px 0 rgba(0,0,0,0.75);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    #operacional.left {
        position: absolute;
        left: -355px;
    }
    
    #operacional.left:hover {
        transform: translate(5px, 0);
    }
    
    #hamb-menu-tablet {
        display: inline;
        position: absolute;
        top: 20px;
        right: 20px;
        color: #ddd;
        font-size: 1.5em;
        
    }
    
    #hamb-menu-mobile {
        display: none;
    }
    
    #main-navigation {
        top: 200px;
        height: 650px;
        background-image: url(img/back.jpg);
        z-index: 1;
        overflow: none;
    }
    
    #title {
        width: 400px;
        
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        pointer-events:none; //great property!!! allows click through the element to reach overlayed elements
    }
    
    #control-panel {
        z-index: -1;
    }
    
    #title.left {
        left: -355px;
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    #options.left {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    #options input {
        width: 30px;
    }
    
    #about-game {
        top: -420px;
        height: 400px;
        z-index: 1;
    }
    
    #about-game-text {
        height: 230px;
        width: 100%;
        overflow: auto;
        padding: 0 15px;
    }

    #presets-div {
        position: absolute;
       top: 380px;
        z-index: 1;
    }
    
    #presets-div.zero-index {
        z-index: -1;
    }
    
    #presets-div .divider {
        margin-bottom: 40px;
    }
    
    main {
        position: absolute;
        left: 50px;
        right: 30px;
        top: 0px;
        margin: 0 auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        padding-top: 50px;
        width: auto;
    }
    
    #gridContainer {
        line-height: 0px;
        margin: 30px auto 10px; 
        text-align: center;
        width: 100%;
    }
    
    .cell {
        width: 2vmin;
        height: 2vmin;
    }
}
*/
/*
@media screen and (min-width: 1025px) and (max-width: 1500px) {
    
    
    #operacional {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;  
    -ms-flex-line-pack: start;  
        align-content: flex-start;
    width: 400px;
    top: 0;
    left: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    box-shadow: 5px 0px 25px 0 rgba(0,0,0,0.75);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    #operacional.left {
        position: absolute;
        left: -355px;
    }
    
    #operacional.left:hover {
        transform: translate(5px, 0);
    }
    
    #hamb-menu {
        display: inline;
        position: absolute;
        top: 20px;
        right: 13px;
        color: #ddd;
        font-size: 1.5em;
        z-index: 3;
    }
    

    
    #title.left {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    #options.left {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    
    #preset {
        display: none;
    }
    
    #presets-div.fade {
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
    }
    
    #about-game {
        box-shadow: 0 5px 2px 0px rgba(0,0,0,0.25);
        position: absolute;
        left: 0;
        top: -420px;
        width: 100%;
        height: 400px;
        padding: 30px; 
        overflow: hidden;
        -webkit-transition: all 1s;
        transition: all 1s;
        background-image: url(img/back.jpg);
        z-index: 1;
    }

    #about-game-text {
        height: 240px;
        width: 100%;
        overflow: auto;
        padding: 0 15px;
    }

    #about-game.about-game-down {
        top: 0px;
    }
    
    main {
        position: absolute;
        left: 50px;
        right: 30px;
        top: 0px;
        margin: 0 auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        padding-top: 50px;
        width: auto;
    }
    
    #gridContainer {
        line-height: 0px;
        margin: 30px auto 10px; 
        text-align: center;
        width: 100%;
    }
  
}

*/

/*# sourceMappingURL=media.css.map */
