$life-size: 10px;
$life-size-reduced: $life-size;
$life-padding: 20px;

@media screen and (max-width: 450px) {
    
    h1 {
        font-size: 3em;
        font-family: 'Changa One', cursive;
        width: 100%
    }
    
    hr {
        width: 50%;
        margin: 0 auto;
        height: 2px;
        background-color: #ddd;
    }
    
    h2 {
        font-size: 1.5em;
        margin: 20px 0 10px 0;
        font-family: 'Changa One', cursive;
    }
    
    .cell {
        width: 3vmin;
        height: 3vmin;
    }
    
    .controls {
        
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 100%;
    }
    
    button {
        font-size: 0.6em;
        font-weight: 700;
        padding: 10px 15px;
        margin: 1.5vmin 0;    
    }

    #grid-control {
        width: 400px;
        margin-top: 10px; 
        
    }
    
    label {
        font-size: 1em;
        margin-right: 1vmin;
    }

    input {
        padding: 0.6em 1em;
        margin: 1vmin 0.4vmin; 
        width: 30px;
        border-radius: 3px;
    }
    
     #title {
        position: absolute;
        top: 0px;
        height: 190px;
         background-image: url(../img/back.jpg);
        z-index: 4;
    }
    
    #title.left {
        top: -190px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    #mobile-title {
        display: block;
        position: absolute;
        transition: all 1s;
        height: 80px;
        width: 100%;
        left: 0px;
        top: -80px;
        padding-top: 10px;
        background-image: url(../img/back.jpg);
        z-index: 3;
    }
    
    #mobile-title.left {        
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.55);
        top: 0px;
    }
    
    #mobile-title div {
        width: $life-size;
        height: $life-size;
        background-color: #ddd;
        position: absolute;
        border: 1px solid #aaa;
        border-radius: 2px;
        left: $life-padding;
        top: $life-padding;
    }

    #mobile-title div:nth-of-type(2) {
        top: $life-size-reduced + $life-padding;
        left: $life-padding
    }

    #mobile-title div:nth-of-type(3) {
        top: ($life-size-reduced * 2) + $life-padding ;
        left: $life-padding
    }

    #mobile-title div:nth-of-type(4) {
        top: ($life-size-reduced * 3) + $life-padding;
        left: $life-padding
    }

    #mobile-title div:nth-of-type(5) {
        top: ($life-size-reduced * 3) + $life-padding;
        left: $life-size-reduced + $life-padding;
    }

    #mobile-title div:nth-of-type(6) {
        top: ($life-size-reduced * 3) + $life-padding;
        left: ($life-size-reduced * 2) + $life-padding;
    }

    #mobile-title div:nth-of-type(7) {
        left: $life-size-reduced * 3.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(8) {
        top: $life-size-reduced + $life-padding;
        left: $life-size-reduced * 3.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(9) {
        top: $life-size-reduced *2 + $life-padding;
        left: $life-size-reduced * 3.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(10) {
       top: $life-size-reduced *3 + $life-padding;
        left: $life-size-reduced * 3.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(11) {
        left: $life-size-reduced * 5 + $life-padding;
    }

    #mobile-title div:nth-of-type(12) {
        left: $life-size-reduced * 5 + $life-padding;
        top: $life-size-reduced + $life-padding;
    }

    #mobile-title div:nth-of-type(13) {
        left: $life-size-reduced * 5 + $life-padding;
        top: $life-size-reduced * 2 + $life-padding;
    }

    #mobile-title div:nth-of-type(14) {
        left: $life-size-reduced * 5 + $life-padding;
        top: $life-size-reduced * 3 + $life-padding;
    }

    #mobile-title div:nth-of-type(15) {
        left: $life-size-reduced * 6 + $life-padding;
    }

    #mobile-title div:nth-of-type(16) {
        left: $life-size-reduced * 7 + $life-padding;
    }

    #mobile-title div:nth-of-type(17) {
        top: $life-size-reduced * 1.5 + $life-padding;
        left: $life-size-reduced * 6 + $life-padding;
    }

    #mobile-title div:nth-of-type(18) {
        left: $life-size-reduced * 8.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(19) {
        top: $life-size-reduced + $life-padding;
        left: $life-size-reduced * 8.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(20) {
        top: $life-size-reduced*2 + $life-padding;
        left: $life-size-reduced * 8.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(21) {
        top: $life-size-reduced*3 + $life-padding;
        left: $life-size-reduced * 8.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(22) {    
        top: $life-size-reduced * 3 + $life-padding;
        left: $life-size-reduced * 9.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(23) {    
        left: $life-size-reduced * 9.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(24) {
        top: $life-size-reduced * 1.5 + $life-padding;
        left: $life-size-reduced * 9.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(25) {
        top: $life-size-reduced * 3 + $life-padding;
        left: $life-size-reduced * 10.5 + $life-padding;
    }

    #mobile-title div:nth-of-type(26) {
        top: + $life-padding;
        left: $life-size-reduced * 10.5 + $life-padding;
    }
    
    #operacional {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;  
    -ms-flex-line-pack: start;  
        align-content: flex-start;
    width: 100%;
    height: 100vh;
    min-height: auto;
    padding-bottom: 80px;
    top: 0;
    left: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    box-shadow: 5px 0px 25px 0 rgba(0,0,0,0.75);
        -webkit-transition: all 1s;
        transition: all 1s;
        overflow: auto;
        z-index: 2;
    }
    
    #operacional.left {
        opacity: 1;
        top: -100vh;
        overflow: hidden;
    }
    
    #hamb-menu {
        display: inline;
        position: absolute;
        top: 20px;
        right: 20px;
        color: #ddd;
        font-size: 1.5em;
        z-index: 5;
    }
    
    nav {
        position: relative;
        top: 190px;
        z-index: 0;
    }
    
    nav.left {
        opacity: 0;
    }
   
    
    #options.left {
        opacity: 1;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    #about-game {
        top: -400px;
        height: 400px;
        z-index: 1;
    }
    
    #about-game-text {
        height: 230px;
        width: 100%;
        overflow: auto;
        padding: 0 15px;
    }

    #about-game.about-game-down {
        top: 0px;
    }
    
    #presets-div {
        position: absolute;
       top: 380px;
        z-index: 1;
    }
    
    #presets-div.zero-index {
        z-index: -1;
    }
    
    #presets-div .divider {
        margin-bottom: 40px;
    }
    
    main {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 25px;
        margin: 0 auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        padding-top: 50px;
        width: 100%;
        overflow: hidden;
        z-index: 1;
    }
    
    #gridContainer {
        line-height: 0px;
        margin: 30px auto 10px; 
        text-align: center;
        width: 100%;
    }
    
    
   
}

@media screen and (min-width: 451px) and (max-width: 768px) {
    
     #operacional {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;  
    -ms-flex-line-pack: start;  
        align-content: flex-start;
    width: 400px;
    min-height: 100vh;
    height: 100%;
    top: 0;
    left: 0;
    
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    box-shadow: 5px 0px 25px 0 rgba(0,0,0,0.75);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    #operacional.left {
        position: absolute;
        left: -355px;
    }
    
    #operacional.left:hover {
        transform: translate(5px, 0);
    }
    
    #hamb-menu {
        display: inline;
        position: absolute;
        top: 20px;
        right: 13px;
        color: #ddd;
        font-size: 1.5em;
        z-index: 3;
    }
    
   #control-panel {
        opacity: 0;
        position: absolute;
        top: 300px;
        right: 5px;
        writing-mode: vertical-rl;
    }
    
     #control-panel.left {
        opacity: 1;
        
    }
    
    #main-navigation {
        
        height: 650px;
        background-image: url(img/back.jpg);
        z-index: 1;
    }
    
    #title.left {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    #options.left {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    #options input {
        width: 30px;
    }
    
    #about-game {
        top: -420px;
        height: 400px;
        z-index: 1;
    }
    
    #about-game-text {
        height: 230px;
        width: 100%;
        overflow: auto;
        padding: 0 15px;
    }

    #about-game.about-game-down {
        top: 0px;
    }
    
    
    #preset {
        display: none;
    }
    
    #presets-div {
        position: absolute;
        
    }
    
    #presets-div.fade {
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        
    }
    
    main {
        position: absolute;
        left: 50px;
        right: 30px;
        top: 0px;
        margin: 0 auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        padding-top: 50px;
        width: auto;
    }
    
    #gridContainer {
        line-height: 0px;
        margin: 30px auto 10px; 
        text-align: center;
        width: 100%;
    }
    
    .cell {
        width: 2vmin;
        height: 2vmin;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
     #operacional {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;  
    -ms-flex-line-pack: start;  
        align-content: flex-start;
    width: 400px;
    min-height: 100vh;
    height: 100%;
    top: 0;
    left: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    box-shadow: 5px 0px 25px 0 rgba(0,0,0,0.75);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    #operacional.left {
        position: absolute;
        left: -355px;
    }
    
    #operacional.left:hover {
        transform: translate(5px, 0);
    }
    
    #hamb-menu {
        display: inline;
        position: absolute;
        top: 20px;
        right: 13px;
        color: #ddd;
        font-size: 1.5em;
        z-index: 3;
    }
    
    #control-panel {
        opacity: 0;
        position: absolute;
        top: 300px;
        right: 5px;
        writing-mode: vertical-rl;
    }
    
     #control-panel.left {
        opacity: 1;
        
    }
    
    #title.left {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    #options.left {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    
    #preset {
        display: none;
    }
    
    #presets-div.fade {
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
    }
    
    main {
        position: absolute;
        left: 50px;
        right: 30px;
        top: 0px;
        margin: 0 auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        padding-top: 50px;
        width: auto;
    }
    
    #gridContainer {
        line-height: 0px;
        margin: 30px auto 10px; 
        text-align: center;
        width: 100%;
    }
    
    .cell {
        width: 2vmin;
        height: 2vmin;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1500px) {
    
    
    #operacional {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;  
    -ms-flex-line-pack: start;  
        align-content: flex-start;
    width: 400px;
    top: 0;
    left: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    box-shadow: 5px 0px 25px 0 rgba(0,0,0,0.75);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    
    #operacional.left {
        position: absolute;
        left: -355px;
    }
    
    #operacional.left:hover {
        transform: translate(5px, 0);
    }
    
    #hamb-menu {
        display: inline;
        position: absolute;
        top: 20px;
        right: 13px;
        color: #ddd;
        font-size: 1.5em;
        z-index: 3;
    }
    
   #control-panel {
        opacity: 0;
        position: absolute;
        top: 300px;
        right: 5px;
        writing-mode: vertical-rl;
    }
    
     #control-panel.left {
        opacity: 1;
        
    }
    
    #title.left {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    #options.left {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
    
    
    #preset {
        display: none;
    }
    
    #presets-div.fade {
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
    }
    
    #about-game {
        box-shadow: 0 5px 2px 0px rgba(0,0,0,0.25);
        position: absolute;
        left: 0;
        top: -420px;
        width: 100%;
        height: 400px;
        padding: 30px; 
        overflow: hidden;
        -webkit-transition: all 1s;
        transition: all 1s;
        background-image: url(img/back.jpg);
        z-index: 1;
    }

    #about-game-text {
        height: 240px;
        width: 100%;
        overflow: auto;
        padding: 0 15px;
    }

    #about-game.about-game-down {
        top: 0px;
    }
    
    main {
        position: absolute;
        left: 50px;
        right: 30px;
        top: 0px;
        margin: 0 auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        padding-top: 50px;
        width: auto;
    }
    
    #gridContainer {
        line-height: 0px;
        margin: 30px auto 10px; 
        text-align: center;
        width: 100%;
    }
  
}

